@import "tailwindcss";

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 3px; /* Reduce scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af; /* Gray color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Darker gray on hover */
}

/* When sidebar is expanded */
.table-container {
  width: calc(100vw - 260px); /* Adjust according to your sidebar width */
  transition: all 0.3s ease-in-out;
}

/* When sidebar is collapsed */
.sidebar-collapsed + .table-container {
  width: calc(100vw - 80px); /* Adjust table width dynamically */
}
